@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "Courier Prime", "Courier New", Courier, monospace;
  
  --color-glow: #00f2ff;
  --color-danger: #ff0055;
  --color-space-bg: #05050a;
  --color-panel-bg: rgba(10, 10, 20, 0.8);
}

@layer base {
  body {
    @apply bg-space-bg font-mono text-white;
  }
}

.scanlines {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), 
              linear-gradient(90deg, rgba(255, 0, 0, 0.02), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.02));
  background-size: 100% 3px, 3px 100%;
  pointer-events: none;
  z-index: 100;
}
